.carousal-img {
	max-width: 100%;
	display: block;
	height: auto;
	text-align: "center";
}
.carousal-indicator-color {
	color: #205f8c;
}
.product-header-text {
	color: #205f8c;
	font-weight: 600;
}

.card-desc {
	text-align: justify;
}

.card-more {
	color: #fff;
	background-color: #205f8c;
}
.card-custom {
	width: 300px;
}

.horizontal-line {
	height: 1px;
	width: 100%;
	background-color: #205f8c;
}
.footer-height {
	min-height: calc(100vh - 8rem);
}
.width-90 {
	width: 90%;
}
.overflow-hidden-map {
	overflow: hidden;
	background: #000;
}
.icon-contact {
	color: white;
}
.icon-contact-holder {
	background-color: #205f8c;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
	.width-md-50 {
		width: 40%;
	}
}
.testimonials-box-height {
	height: 400px;
	color: #111111;
	background-color: #f6da0a;
}
.margin-negative {
	margin-top: -200px;
}
.testimonial-size {
	height: 500px;
	border-radius: 10px;
	background-color: whitesmoke;
}
.testimonial-image {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.testimonials-footer {
	margin: 100px 0 0 0;
	height: 200px;
	background-color: whitesmoke;
}
.about-us-extra {
	position: relative;
	height: calc(100vh - 4.4rem);
	color: #205f8c;
}
.about-us-extra::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background-image: url("./about-us_1.png");
}
.about-us-padding {
	padding: 2rem 0 1rem 4rem;
}
.hr-line {
	width: 200px;
	height: 2px;
	margin: 0.5rem 0 0.5rem 4rem;
	background-color: #205f8c;
}
.btn-about-us {
	margin: 1rem 0 0 4rem;
	border-radius: 10px;
}
.img-vision {
	max-height: 150px;
	z-index: 25;
}
.text-weight {
	font-weight: 600;
}
.process-line {
	height: 2px;
	margin-left: 20px;
	width: 350px;
	background-color: #205f8c;
}
.line-under-text{	
	background-color:#f6da0a;
	height: 2px;
	width: 200px;
	margin-top:10px;
	margin-bottom: 30px;
}
.text-under{
	text-decoration: none;
	color: black;
}
.address-text{
	margin: 0 0 0 0;
	font-size: 1.1rem;
}